

.wrapper {
    margin-top: 30px
}

.carde {
    border: 1px solid #eee;
    cursor: pointer
}

.weight {
    margin-top: -65px;
    transition: all 0.5s
}

.weight small {
    color: #e2dede
}

.buttons {
    padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}

.carde:hover .buttons {
    opacity: 1
}


.carde:hover {

    transform: scale(1.04);   
    z-index: 2;
    overflow: hidden
}






















.pagination>li>a, .pagination>li>span {
   border-radius: 50% !important;
   margin: 0 5px;
}

.pagination>li.active>a ,.btn-next, .btn-last, .btn-first, .btn-last{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: 0 0;
    border-radius: 50% !important;
    margin: 0 5px;
    position: relative;
    float: left;
    padding: 6px 12px;

    
    text-decoration: none;
    border: 1px solid #ddd;
    z-index: 2;
    color: #fff;

    background-color: #428bca;
    border-color: #428bca;

}
.pagination>li.active>a:hover{

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: 0 0;
    outline: 0;
    position: relative;
    float: left;
    padding: 6px 12px;
    
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 50% !important;
    margin: 0 5px;
    z-index: 2;
    color: #fff;

    background-color: #428bca;
    border-color: #428bca;

}

.pagination>li>a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: 0 0;
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination>li>a:hover{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: 0 0;
    outline: 0;
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 50% !important;
    margin: 0 5px;
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

